%svg-common {
	background: url("../media/sprite/sprite.svg") no-repeat;
}

.svg-arrow-icon {
	@extend %svg-common;
	background-position: 14.970059880239521% 98.76160990712074%;
}

.svg-arrow-icon-dims {
	width: 45px;
	height: 46px;
}

.svg-award-best-sms {
	@extend %svg-common;
	background-position: 0 50.370370370370374%;
}

.svg-award-best-sms-dims {
	width: 82px;
	height: 99px;
}

.svg-chatapps-icon {
	@extend %svg-common;
	background-position: 96.65653495440729% 73.66771159874608%;
}

.svg-chatapps-icon-dims {
	width: 50px;
	height: 50px;
}

.svg-email-icon {
	@extend %svg-common;
	background-position: 66.26139817629179% 73.66771159874608%;
}

.svg-email-icon-dims {
	width: 50px;
	height: 50px;
}

.svg-emerging-icon {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-emerging-icon-dims {
	width: 84px;
	height: 84px;
}

.svg-gsma-logo-bw {
	@extend %svg-common;
	background-position: 26.03174603174603% 50.18450184501845%;
}

.svg-gsma-logo-bw-dims {
	width: 64px;
	height: 98px;
}

.svg-handheart-icon {
	@extend %svg-common;
	background-position: 88.05970149253731% 52.996845425867505%;
}

.svg-handheart-icon-dims {
	width: 44px;
	height: 52px;
}

.svg-integrate-icon {
	@extend %svg-common;
	background-position: 28.47457627118644% 82.45614035087719%;
}

.svg-integrate-icon-dims {
	width: 84px;
	height: 84px;
}

.svg-iso-logo {
	@extend %svg-common;
	background-position: 64.70588235294117% 0;
}

.svg-iso-logo-dims {
	width: 141px;
	height: 66px;
}

.svg-location-pin-icon {
	@extend %svg-common;
	background-position: 98.83381924198251% 52.66457680250784%;
}

.svg-location-pin-icon-dims {
	width: 36px;
	height: 50px;
}

.svg-mef-logo {
	@extend %svg-common;
	background-position: 0 10.410094637223974%;
}

.svg-mef-logo-dims {
	width: 151px;
	height: 52px;
}

.svg-mma-logo {
	@extend %svg-common;
	background-position: 0 26.729559748427672%;
}

.svg-mma-logo-dims {
	width: 147px;
	height: 51px;
}

.svg-omni-icon {
	@extend %svg-common;
	background-position: 49.65986394557823% 47.719298245614034%;
}

.svg-omni-icon-dims {
	width: 85px;
	height: 84px;
}

.svg-pci-logo {
	@extend %svg-common;
	background-position: 56.2043795620438% 21.29032258064516%;
}

.svg-pci-logo-dims {
	width: 105px;
	height: 59px;
}

.svg-push-icon {
	@extend %svg-common;
	background-position: 70.2127659574468% 42.63322884012539%;
}

.svg-push-icon-dims {
	width: 50px;
	height: 50px;
}

.svg-rcs-icon {
	@extend %svg-common;
	background-position: 51.06382978723404% 73.66771159874608%;
}

.svg-rcs-icon-dims {
	width: 50px;
	height: 50px;
}

.svg-reporting-icon {
	@extend %svg-common;
	background-position: 0 82.45614035087719%;
}

.svg-reporting-icon-dims {
	width: 84px;
	height: 84px;
}

.svg-sms-icon {
	@extend %svg-common;
	background-position: 81.45896656534954% 73.66771159874608%;
}

.svg-sms-icon-dims {
	width: 50px;
	height: 50px;
}

.svg-uber-logo {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-uber-logo-dims {
	width: 154px;
	height: 33px;
}

.svg-voice-icon {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-voice-icon-dims {
	width: 50px;
	height: 50px;
}

.svg-workflows-icon {
	@extend %svg-common;
	background-position: 100% 29.473684210526315%;
}

.svg-workflows-icon-dims {
	width: 84px;
	height: 84px;
}

