.o-form {
  padding: 2.1875rem 1.25rem;
  border-radius: 3px;
  background-color: #ECECEC;

  &_header {

    .mess {
      @include font-size(24);
      font-family: $font-weight-extraBold;
    }

  }

  &_body {
    margin-top: 1.875rem;
  }

  &_footer {
    @include font-size(14);
    margin-top: 1.5625rem;
    font-family: $font-weight-semiBold;
    text-align: center;
  }

  @include laptopDown {
    margin-right: -15px;
    margin-left: -15px;
  }

}
