.o-product {
  margin-top: 3.125rem;

  &-wrapper {
    padding: 5.625rem 0 5rem;
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 170px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 6px 12px 2px rgba(205,205,205, .50);
    transition: border-color 175ms;

    &:hover {
      border-color: $brand-primary;
    }

  }

  &_img {
    margin-bottom: .9375rem;
  }

  &_img.sms {
    @extend .svg-sms-icon;
    @extend .svg-sms-icon-dims;
  }

  &_img.voice {
    @extend .svg-voice-icon;
    @extend .svg-voice-icon-dims;
  }

  &_img.push {
    @extend .svg-push-icon;
    @extend .svg-push-icon-dims;
    margin-right: -.5rem;
  }

  &_img.email {
    @extend .svg-email-icon;
    @extend .svg-email-icon-dims;
  }

  &_img.chat {
    @extend .svg-chatapps-icon;
    @extend .svg-chatapps-icon-dims;
  }

  &_img.rcs {
    @extend .svg-rcs-icon;
    @extend .svg-rcs-icon-dims;
  }

  @include laptop {

    &-wrapper {
      position: relative;
      overflow-x: hidden;
      
      &:after {
        content: '';
        position: absolute;
        z-index: -1;;
        top: -330px;
        left: 50%;
        width: 1050px;
        height: 1050px;
        border-radius: 50%;
        background-color: #F9F9F9;
        transform: translateX(-50%);
      }
      
    }

  }

}
