.o-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem 1.5625rem .9375rem;
  border-radius: 4px;
  background-color: #F3F3F3;
  box-shadow: 0 6px 12px 2px rgba(205,205,205, .5);

  &-wrapper {
    padding: 5.0625rem 0;
    text-align: center;
  }

  &-wrapper_about {
    @include font-size(24);
    margin: .625rem 0 4rem;
    opacity: .8;
    line-height: 36px;
  }

  &_no {
    @include font-size(42);
    color: $brand-primary;
  }

  &_about {
    @include font-size(18);
  }

  @include laptopDown {
    margin-bottom: 1.875rem;
  }

  @include tabletDown {

    &-wrapper_about {
      @include font-size(20);
      line-height: 30px;
    }

  }

}
