.o-tab {
  min-height: 400px;

  &-wrapper {
    @extend %no-repeat;
    @extend %bg-cover;
    @extend %bg-center;
    padding: 5rem 0 2.8125rem;
    background-color: #F3F3F3;
    background-image: url('../media/app/globe-bg.png');
    overflow-x: hidden;
  }

  &-triggers {
    display: flex;
    flex-direction: column;

    &_item {
      @include font-size(18);
      padding: .9375rem 1.25rem;
      font-family: $font-weight-bold;
      opacity: .8;

      &:not(:last-child) {
        border-bottom: 1px solid lightgrey;
      }

      &:hover {
        opacity: 1;
        cursor: pointer;
      }

      svg {
        transform: translateX(0);
        transition: transform 175ms;
      }

      &.active {
        background-color: #09A2E7;
        color: $white;
        opacity: 1;

        svg {
          transform: translateX(5px);
        }

      }

    }

  }

  &-content {
    position: relative;
  }

  &-content_item {
    position: absolute;
    width: 100%;
    padding: 2.5rem 1.25rem 2.5rem 3.125rem;
    border-top: 6px solid $brand-primary;
    background-color: $white;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    box-shadow: 0 6px 12px 2px rgba(205,205,205, .50);
    transition: transform 450ms, opacity 400ms;

    &.active {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }

  }

  &-content_about {
    @include font-size(24);
    opacity: .8;
    line-height: 36px;
  }

  @include laptopDown {

    &-wrapper {
      padding-bottom: 21.25rem;
    }

  }

  @include tabletDown {

    &-wrapper {
      padding-bottom: 25rem;
    }

    &-content_item {
      padding: 1.25rem .9375rem;
      width: auto;
      right: -15px;
      left: -15px;
    }

    &-content_about {
      @include font-size(20);
    }

  }
  
  @include mobilePlusDown {

    &-wrapper {
      padding-bottom: 31.25rem;
    }

  }

  @include laptop {
    overflow: hidden;

    &-triggers_item{
      position: relative;
    }

  }
  
}
