<footer class="o-mainFooter">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-mdp-4 col-lg-3">
        <div class="o-office">
          <strong class="d-block">SAN FRANCISCO</strong>
          <div class="o-office_street">
            <strong class="d-block color-prim">Infobip Communications Inc</strong>
            6th floor - 650 California St. <br>
            San Francisco, <br>
            CA, 94108
          </div>
          <a class="c-link" href="mailto:sanfrancisco@infobip.com">sanfrancisco@infobip.com</a>
        </div>
      </div>

      <div class="col-md-6 col-mdp-4 col-lg-3">
        <div class="o-office">
          <strong class="d-block">NEW YORK</strong>
          <div class="o-office_street">
            <strong class="d-block color-prim">Infobip Communications Inc</strong>
            6th floor - 1460 Broadway <br>
            NEW YORK, <br>
            NY, 10036
          </div>
          <a class="c-link" href="mailto:newyork@infobip.com">newyork@infobip.com</a>
        </div>
      </div>

      <div class="col-md-6 col-mdp-4 col-lg-3">
        <div class="o-office">
          <strong class="d-block">VANCOUVER</strong>
          <div class="o-office_street">
            <strong class="d-block color-prim">Infobip Communications Inc</strong>
            228 W 7th Ave<br>
            Vancouver, BC V5Y 1M1
          </div>
          <a class="c-link" href="mailto:vancouver@infobip.com">vancouver@infobip.com</a>
        </div>
      </div>

      <div class="col-12">
        <hr>
        <div class="row o-mainFooter_terms">
          <div class="col-lg-4">Copyright &copy; 2006.-2018. Infobip ltd.</div>
          <div class="col-lg-8">
            <ul class="o-mainFooter-nav">
              <li class="o-mainFooter-nav_item">
                <a class="c-link" href="https://www.infobip.com/en/policies/terms" target="_blank">
                  Terms and conditions</a>
              </li>
              <li class="o-mainFooter-nav_item">
                <a class="c-link" href="https://www.infobip.com/en/policies/privacy" target="_blank">
                  Privacy Policy</a>
              </li>
              <li class="o-mainFooter-nav_item">
                <a class="c-link" href="https://www.infobip.com/en/policies/terms/short-code" target="_blank">
                  Shortcode Terms</a>
              </li>
              <li class="o-mainFooter-nav_item">
                <a class="c-link" href="https://www.infobip.com/en/terms-of-use" target="_blank">
                  Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
