html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

html, body {
  font-family: $font-family-base;
  font-size: $body-font-size;
  line-height: $line-height-default;
  letter-spacing: $letter-spacing-default;
  color: $color-text-neutral;
}

body.p-homepage {

  @include laptop {
    margin-bottom: 25.875rem;
  }
  
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;

  > li {
    font-size: 1rem;
  }

}

a.c-btn {
  text-decoration: none;
}

hr {
  border-color: #E3E3E3;
  opacity: .3;

  .o-mainFooter & {
    border-color: #606060;
    opacity: 1;
  }

  .o-stats & {
    border-color: rgba($color-text-neutral, .25);
    margin: 1.0625rem 0 .9375rem;
  }

}

main {

  @include laptop {
    
    .p-homepage & {
      position: relative;
      z-index: 1;
      background-color: $white;
    }

  }

}

br.br {

  @include laptopDown {
    
    .o-product-wrapper .c-ttl-h2 & {
      display: none;
    }

  }

}
