// Font Size
$body-font-size: 100%;



// Line height
$line-height-default: 1.2;



// Letter spacing
$letter-spacing-default: normal;
$letter-spacing-lg: 0.02rem;



// Font Family
$font-family-base:            'ProximaNova-Regular', sans-serif;
$font-family-heading:         'ProximaNova-Bold', sans-serif;
$font-family-code:            courier new, Courier, monospace;



// Font Weight
$font-weight-extraBold:       'ProximaNova-Extrabld', sans-serif;
$font-weight-bold:            'ProximaNova-Bold', sans-serif;
$font-weight-semiBold:        'ProximaNova-Semibold', sans-serif;
$font-weight-regular:         'ProximaNova-Regular', sans-serif;
$font-weight-light:           'ProximaNova-Light', sans-serif;
