// Icons

.c-icon {
  display: inline-block;

  .o-tab-triggers_item & {

    @include laptopDown {
      display: none;
    }

    @include laptop {
      position: absolute;
      top: 50%;
      right: 30px;
      width: 11px;
      height: 18px;
      background-image: url('../media/app/chevron-right.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 18px;
      transform: translateY(-50%);
      opacity: 0;
      transition: transform 250ms, opacity 150ms;
    }
    
  }

  .o-tab-triggers_item.active & {
    opacity: 1;
    transform: translate(10px,-50%);
  }

  .o-tab-content_item & {
    margin-right: 1.875rem;
    flex: 0 0 84px;

    @include mobilePlusDown {
      margin: 0 0 1.875rem;
    }

  }

  .o-tab-content_item.omni & {
    @extend .svg-omni-icon;
    @extend .svg-omni-icon-dims;
  }

  .o-tab-content_item.performance & {
    @extend .svg-reporting-icon;
    @extend .svg-reporting-icon-dims;
  }

  .o-tab-content_item.emerge & {
    @extend .svg-emerging-icon;
    @extend .svg-emerging-icon-dims;
  }

  .o-tab-content_item.flows & {
    @extend .svg-workflows-icon;
    @extend .svg-workflows-icon-dims;
  }

  .o-tab-content_item.pre-build & {
    @extend .svg-integrate-icon;
    @extend .svg-integrate-icon-dims;
  }

  .o-experience & {
    margin-left: .3125rem;
  }

  .o-experience.presence & {
    @extend .svg-location-pin-icon;
    @extend .svg-location-pin-icon-dims;
    flex: 0 0 36px;
    margin-right: 1.5625rem;
  }

  .o-experience.platform & {
    @extend .svg-arrow-icon;
    @extend .svg-arrow-icon-dims;
    flex: 0 0 45px;
    margin-right: 0.9375rem;
  }

  .o-experience.control & {
    @extend .svg-handheart-icon;
    @extend .svg-handheart-icon-dims;
    flex: 0 0 44px;
    margin-right: 1.25rem;
  }

}
