// Titles
.c-ttl {
  margin: 0;

  &-h1 {
    @include font-size(54);
  }

  &-h2 {
    @include font-size(32);

    @include tabletDown {
      @include font-size(25);
    }

  }

  &-h4 {
    @include font-size(18);
    font-family: $font-weight-extraBold;
    line-height: 24px;
  }

  &-rated {
    @include font-size(42);
    font-family: $font-weight-extraBold;

    @include tabletDown {
      @include font-size(36);
    }

  }

  // Specific targets
  .o-hero &-h1 {
    margin-top: 110px;
    font-family: $font-weight-extraBold;
    line-height: 60px;
    color: $white;

    @include tabletDown {
      @include font-size(38);
      margin-top: 3.75rem;
      line-height: 40px;
      text-shadow: 1px 1px 3px $black;
    }

  }

  .o-product-wrapper & {
    position: relative;
    padding: 2.8125rem 5.625rem 0;
    font-family: $font-weight-extraBold;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 370px;
      height: 2px;
      background-color: #131313;
      opacity: .1;
      transform: translateX(-50%);

      @include tabletDown {
        width: 100%;
      }

    }

    @include laptopDown {
      padding-right: 0;
      padding-left: 0;
    }

  }

  .o-tab-content_item &,
  .o-experience & {
    display: flex;
    align-items: center;
  }

  .o-tab-content_item & {

    @include mobilePlusDown {
      flex-direction: column;
      text-align: center;
    }

  }

  .o-experience & {
    min-height: 52px;
  }

  .o-experience.presence & {
    padding-right: 20px;
  }

  .o-experience.platform & {
    padding-right: 30px;
  }
  
  .o-experience.control & {
    padding-right: 15px;
  }

  .o-experience-wrapper &-h2 {
    font-family: $font-weight-extraBold;
    text-align: center;
  }

}
